<!DOCTYPE html>
<html lang="en">

    {% include "../header/_header.twig" with {header: block('header')} %}

    <body>
        {% block content %}
        {% endblock %}
        

        {% include "../footer/_footer.twig" with {footer: block('footer')} %}

       
    </body>

</html>