.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
}

.flex-container>.product {
    background-color: transparent;
    width: 33.33%;
    min-height: 10vh;
    text-align: center;
    font-size: 14px;
    padding: 20px;
}