@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../assets/fonts/HelveticaNeueLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueMedium';
    src: url('../assets/fonts/HelveticaNeueMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueBoldItalic';
    src: url('../assets/fonts/HelveticaNeueBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica-Neu-Bold';
    src: url('../assets/fonts/Helvetica Neu Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica-Regular';
    src: url('../assets/fonts/helveticaneue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
