@font-face {
    font-family: 'SFUBelleRegular';
    src: url('../assets/fonts/SFUBelleRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUShannonBold';
    src: url('../assets/fonts/SFUShannonBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUShannonBook';
    src: url('../assets/fonts/SFUShannonBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}