<table class="email" style="width:600px; margin: 0 auto">
    <tr>
        <td >
            <div>
                <img width="100%" src="./assets/images/email.png" alt="">
            </div>
        </td>
    </tr>
</table>