<div class="lanrung">
    <header>
        <ul>
            <li>
                <a link="artical1" href="#">HOMEPAGE</a>
            </li>
            <li>
                <a link="artical2" href="#">TỔNG QUAN DỰ ÁN</a>
            </li>

            <li>
                <a link="artical3" href="#">VỊ TRÍ DỰ ÁN</a>
            </li>
            <li>
                <a link="artical4" href="#">THIẾT KẾ TIỆN ÍCH</a>
            </li>
            <li>
                <a link="artical5" href="#">MẶT BẰNG ĐIỂN HÌNH</a>
            </li>
            <li>
                <a link="artical6" href="#"> LÝ DO NÊN ĐẦU TƯ CONDOTEL</a>
            </li>
        </ul>
    </header>
    <ul class="timeline">
        <li>
            <a href="#1" class="active">
                <span class="name">HOMEPAGE</span>
            </a>
        </li>
        <li>
            <a href="#2">
                <span class="name">
                    TỔNG QUAN </BR> DỰ ÁN
                </span>
            </a>
        </li>
        <li>
            <a href="#3">
                <span class="name">VỊ TRÍ <br> DỰ ÁN</span>
            </a>
        </li>
        <li>
            <a href="#4">
                <span class="name">THIẾT KẾ <br> TIỆN ÍCH</span>
            </a>
        </li>
        <li>
            <a href="#5">
                <span class="name">MẶT BẰNG ĐIỂN HÌNH</span>
            </a>
        </li>
        <li>
            <a href="#6">
                <span class="name">LÝ DO NÊN </BR>ĐẦU TƯ CONDOTEL</span>
            </a>
        </li>
    </ul>


    <div class="logo hidden-xs hidden-sm">
        <img src="./assets/images/logo.png" alt="">
    </div>


    <div class="register-button">
        <button class="button font-SFUShannonBook" data-toggle="modal" data-target="#register-form">
            Đăng ký tham quan nhà mẫu
        </button>
    </div>


    <div class="menu-mobile">
        <div class="logo-mobile">
            <img src="./assets/images/logo.png" alt="">
        </div>
        <button class="navbar-toggler">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
    </div>


    <div class="contain">
        <div class="section section1 artical1" id="1">
            <div class="images">
                <img src="./assets/images/section1.png" alt="">
            </div>
            <div class="content">
                <div class="text-1 font-SFUBelleRegular">
                    Dự án căn hộ nghỉ dưỡng đậm chất Châu Âu đầu tiên tại Bà Rịa - Vũng Tàu
                </div>
                <div class="text-2">
                    <span class="font-SFUShannonBook">Giá chỉ từ</span>
                    <span class="font-SFUBelleRegular">2,3 tỷ đồng</span>
                </div>
                <div class="text-3 font-SFUShannonBook">
                    Bàn giao trọn nội thất nhập khẩu
                </div>
            </div>
        </div>

        <div class="section section2 artical2" id="2">
            <div class="images">
                <img src="./assets/images/section2.png" alt="">
            </div>
            <div class="content">
                <div class="left">
                    <div class="slider-for">
                        <img src="./assets/images/slider1/1.png" alt="">
                        <img src="./assets/images/slider1/2.png" alt="">
                        <img src="./assets/images/slider1/3.png" alt="">
                        <img src="./assets/images/slider1/4.png" alt="">
                    </div>

                    <div class="slider-nav">
                        <img src="./assets/images/slider1/1.png" alt="">
                        <img src="./assets/images/slider1/2.png" alt="">
                        <img src="./assets/images/slider1/3.png" alt="">
                        <img src="./assets/images/slider1/4.png" alt="">
                    </div>
                </div>
                <div class="right">
                    <div class="item">
                        <ul>
                            <li>
                                <span class="font-SFUShannonBook">Tổng diện tích:</span>
                                <span class="font-SFUShannonBold">trên 10 hecta</span>
                            </li>
                            <li>
                                <span class="font-SFUShannonBook">Loại hình phát triển:</span>
                                <span class="font-SFUShannonBold">Khách sạn, Căn hộ nghỉ dưỡng,
                                    biệt thự biển, shop house</span>
                            </li>
                            <li>
                                <span class="font-SFUShannonBook"> Mật độ xây dựng:</span>
                                <span class="font-SFUShannonBold">25%</span>
                            </li>
                            <li>
                                <span class="font-SFUShannonBook"> Mở bán giai đoạn 2:</span>
                                <span class="font-SFUShannonBold">134 căn condotel (Block B,C,D,E)
                                    Số tầng: tầng trệt và 5 tầng</span>
                            </li>
                            <li>
                                <span class="font-SFUShannonBook">Tiện ích:</span>
                                <span class="font-SFUShannonBold">Nhà hàng, Spa, Karaoke, Siêu thị thương
                                    mại, khu chơi trẻ em, sân tennis, gym, hồ bơi và
                                    các trò chơi dưới biển</span>
                            </li>
                            <li>
                                <span class="font-SFUShannonBook"> Dự kiến bàn giao:</span>
                                <span class="font-SFUShannonBold">Tháng 11/2019</span>
                            </li>
                            <li>
                                <span class="font-SFUShannonBook"> Chủ đầu tư:</span>
                                <span class="font-SFUShannonBold">Lan Rừng Resort</span>
                            </li>
                            <li>
                                <span class="font-SFUShannonBook"> Đơn vị thiết kế & tư vấn kiến trúc:</span>
                                <span class="font-SFUShannonBold">Graham Taylor Design</span>
                            </li>
                            <li>
                                <span class="font-SFUShannonBook"> Đơn vị tư vấn & phân phối độc quyền:</span>
                                <span class="font-SFUShannonBold">Thủ Thiêm Real</span>
                            </li>
                            <li>
                                <span class="font-SFUShannonBook"> Đơn vị xây dựng:</span>
                                <span class="font-SFUShannonBold">Công ty xây dựng Hoàng Gia</span>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="section section3 artical3" id="3">
            <div class="images">
                <img src="./assets/images/section3.png" alt="">
            </div>
            <div class="content">
                <h2 class="title font-SFUBelleRegular">Vị trí chiến lược, kết nối dễ dàng</h2>
                <div class="left">
                    <div class="text font-SFUShannonBook">
                        Lan Rừng Phước Hải sở hữu địa thế tựa sơn hướng thuỷ: lưng dựa núi Minh Đạm uy phong, mặt hướng
                        ra biển Phước Hải thuần khiết - bãi biển hiếm hoi tại Vũng Tàu còn giữ được nét bình yên hiếm
                        có với bãi cát vàng trải dài và những bãi đá đẹp huyền bí. Dự án thuộc 1 trong 5 vùng quy hoạch
                        du lịch trọng điểm cấp Quốc gia với nhiều địa danh nổi tiếng.
                    </div>
                    <div class="img">
                        <img src="./assets/images/section3-item1.png" alt="">
                    </div>
                </div>
                <div class="right">
                    <div class="img">
                        <img src="./assets/images/section3-item2.png" alt="">
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>

        <div class="section section4 artical4" id="4">
            <div class="images">
                <img src="./assets/images/section4.png" alt="">
            </div>
            <div class="content">
                <ul class="tab">
                    <li data-tab="1" class="tab-1 show-tab font-SFUShannonBook">Thiết kế</li>
                    <li data-tab="2" class="tab-2 font-SFUShannonBook">Tiện ích</li>
                </ul>
                <div class="tab-content tab-content-1 show-tab">
                    <h2 class="title font-SFUBelleRegular">
                        Thiết kế theo phong cách Châu Âu cổ điển,
                        xứng tầm đẳng cấp chủ nhân
                    </h2>

                    <div class="left">
                        <div class="item font-SFUShannonBook">
                            <p>Thiết kế bởi đơn vị tư vấn thiết kế kiến trúc nổi tiếng Graham Taylor Designs - được
                                điều hành bởi nhà thiết
                                kế danh giá Graham Taylor, thành viên của Hiệp hội thiết kế Hoàng gia Anh.</p>
                            <p>Thiết kế phong cách Châu Âu cổ điển với tông màu xanh-trắng sang trọng và tinh tế, kiến
                                tạo không gian nghỉ
                                dưỡng đẳng cấp Châu Âu. </p>
                            <p>Bàn giao nội thất thiết kế riêng biệt và chất lượng cao cấp chuẩn 5 sao.</p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="slider-2-1 ">
                            <div class="item">
                                <img src="./assets/images/slider2/1.png" alt="">
                            </div>
                            <div class="item">
                                <img src="./assets/images/slider2/1.png" alt="">
                            </div>
                            <div class="item">
                                <img src="./assets/images/slider2/1.png" alt="">
                            </div>

                        </div>

                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="tab-content tab-content-2">
                    <h2 class="title font-SFUBelleRegular">
                        Không gian nghỉ dưỡng đẳng cấp với tiện ịch 5 sao hoàn hảo
                    </h2>
                    <div class="left">
                        <div class="slider-2-2 ">
                            <div class="item">
                                <img src="./assets/images/slider2/1.png" alt="">
                            </div>
                            <div class="item">
                                <img src="./assets/images/slider2/1.png" alt="">
                            </div>
                            <div class="item">
                                <img src="./assets/images/slider2/1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="item font-SFUShannonBook">
                            <p>Thiết kế bởi đơn vị tư vấn thiết kế kiến trúc nổi tiếng Graham Taylor Designs - được
                                điều hành bởi nhà thiết
                                kế danh giá Graham Taylor, thành viên của Hiệp hội thiết kế Hoàng gia Anh.</p>
                            <p>Thiết kế phong cách Châu Âu cổ điển với tông màu xanh-trắng sang trọng và tinh tế, kiến
                                tạo không gian nghỉ
                                dưỡng đẳng cấp Châu Âu. </p>
                            <p>Bàn giao nội thất thiết kế riêng biệt và chất lượng cao cấp chuẩn 5 sao.</p>
                        </div>
                    </div>


                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="section section5 artical5" id="5">
            <div class="images hidden-sm hidden-xs">
                <img src="./assets/images/section5.png" alt="">
            </div>
            <div class="content">
                <ul class="tab">
                    <li data-tab="1" class="tab-1 show-tab font-SFUShannonBook">Căn hộ nghỉ dưỡng</li>
                    <li data-tab="2" class="tab-2 font-SFUShannonBook">Biệt thự biển</li>
                </ul>
                <div class="tab-content tab-content-1 show-tab">
                    <div class="slider-3-1">
                        <div class="item">
                            <div class="img-item">
                                <img src="./assets/images/slider3/1.png" alt="">
                            </div>
                            <div class="title-item">
                                Apartment type x2 - dining area
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-item">
                                <img src="./assets/images/slider3/2.png" alt="">
                            </div>
                            <div class="title-item">
                                Apartment type x2 - dining area
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-item">
                                <img src="./assets/images/slider3/3.png" alt="">
                            </div>
                            <div class="title-item">
                                Apartment type x2 - dining area
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-item">
                                <img src="./assets/images/slider3/4.png" alt="">
                            </div>
                            <div class="title-item">
                                Apartment type x2 - dining area
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content tab-content-2">
                    <div class="slider-3-2">
                        <div class="item">
                            <div class="img-item">
                                <img src="./assets/images/slider3/5.png" alt="">
                            </div>
                            <div class="title-item">
                                Apartment type x2 - dining area
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-item">
                                <img src="./assets/images/slider3/6.png" alt="">
                            </div>
                            <div class="title-item">
                                Apartment type x2 - dining area
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-item">
                                <img src="./assets/images/slider3/7.png" alt="">
                            </div>
                            <div class="title-item">
                                Apartment type x2 - dining area
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-item">
                                <img src="./assets/images/slider3/8.png" alt="">
                            </div>
                            <div class="title-item">
                                Apartment type x2 - dining area
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section6 artical6" id="6">
            <div class="images hidden-sm hidden-xs">
                <img src="./assets/images/section6.png" alt="">
            </div>
            <div class="content">
                <div class="title">
                    <h3 class="text font-SFUBelleRegular">An tâm đầu tư, sinh lời vượt trội</h3>
                    <div class="line-text">
                        <img src="./assets/images/line-text.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="number">1.</div>

                            <div class="text">Sở hữu căn hộ nghỉ dưỡng đẳng cấp 5 sao vị trí đẹp nhất Bà Rịa - Vũng Tàu
                                với giá 2.3 tỷ, bàn giao nội thất thiết kế riêng biệt và chất lượng cao cấp chuẩn 5 sao</div>

                            <div class="clearfix">&nbsp;</div>
                        </li>
                        <li><span class="number">2.</span>
                            <div class="text">Cam kết lợi nhuận tối đa 20 năm lên đến 12%/năm, đảm bảo khả năng cho
                                thuê luôn cao&nbsp;và bền vững.</div>

                            <div class="clearfix">&nbsp;</div>
                        </li>
                        <li>
                            <div class="number">3.</div>

                            <div class="text">Dự án toạ lạc tại tâm điểm nghỉ dưỡng mới - bãi biển Phước Hải nguyên sơ
                                và yên bình, kết nối giao thông thuận lợi đến Tp. HCM chỉ với 2 tiếng lái xe.</div>

                            <div class="clearfix">&nbsp;</div>
                        </li>
                        <li>
                            <div class="number">4.</div>

                            <div class="text">Thiết kế phong cách Châu Âu sang trọng bậc nhất, hệ thống tiện ích 5 sao
                                hoàn hảo đáp ứng&nbsp;trọn vẹn nhu cầu nghỉ dưỡng cao cấp.</div>

                            <div class="clearfix">&nbsp;</div>
                        </li>
                        <li>
                            <div class="number">5.</div>

                            <div class="text">Đơn vị phát triển và quản lý vận hành Lan Rừng Resort có trên 20 năm kinh
                                nghiệm vận hành&nbsp;khách sạn cao cấp, được bình chọn là khách sạn có hiệu quả kinh
                                doanh tốt nhất tại Bà Rịa - Vũng Tàu.</div>
                            <div class="clearfix">&nbsp;</div>
                        </li>
                        <li>
                            <div class="number">6.</div>

                            <div class="text">Đối tác chiến lược uy tín:
                                Tư vấn thiết kế bởi kiến trúc sư Graham Taylor - thành viên Hiệp hội thiết kế Hoàng gia Anh.
                                Thủ Thiêm Real – Đơn vị phân phối độc quyền có kinh nghiệm triển khai nhiều dự án bất động sản&nbsp;nghỉ dưỡng lớn tại Vũng Tàu, TP.HCM.</div>
                            <div class="clearfix">&nbsp;</div>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
        <div class="footer">
            <div class="contain">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <table>
                                <tr>
                                    <td class="left">
                                        <p>Phát triển bởi</p>
                                        <img src="./assets/images/logo.png" alt="">
                                    </td>
                                    <td class="right">
                                        <p>Phân phối độc quyền tại</p>
                                        <img src="./assets/images/footer-img-1.png" alt="">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <div class="mobile-version">
                                <div class="address">Hotline:
                                    <span>0909 0909 09</span></div>
                                <div class="address">Địa chỉ:
                                    <span>Km số 18 tỉnh lộ 44A Thị Trấn Phước Hải, <br>huyện Đất Đỏ, tỉnh Bà Rịa Vũng
                                        Tàu</span></div>
                                <div class="footer-img-2">
                                    <a href="#">
                                        <img src="./assets/images/footer-img-2.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal register-->
    <div class="modal fade" id="register-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- <div class="close-icon">
                    <img src="./assets/images/close.png" alt="">
                </div> -->
                <div class="modal-body">
                    <h3 class="title">Đăng kí tham quan nhà mẫu</h3>
                    <div class="form">
                        <form action="" id="myform">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Họ Tên:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" name="fullname" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Email:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="email" class="form-control" name="email" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Số điện thoại:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="number" class="form-control" name="phone" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Số CMND:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="number" class="form-control" name="idcard" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Ghi chú:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <textarea rows="3" class="form-control" name="notes"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="submit-form">
                                <button class="submit" id="submit-register" type="button">HOÀN TẤT</button>
                            </div>
                        </form>
                    </div>


                </div>

            </div>
        </div>
    </div>

    <!-- Modal thanks-->
    <div class="modal fade" id="thanks-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-close" data-dismiss="modal">
                    <img src="./assets/images/x.png" alt="">
                </div>
                <div class="modal-body">
                    <h3 class="title">
                        Cám ơn bạn đã đăng ký tham quan nhà mẫu.<br> Chúng tôi sẽ liên hệ <br>với bạn trong thời gian
                        sớm nhất
                    </h3>

                </div>

            </div>
        </div>
    </div>

    <!-- Modal thanks-->
    <div class="modal fade" id="error-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="title">
                        Vui lòng nhập đủ thông tin!
                    </h3>

                </div>

            </div>
        </div>
    </div>