<div class="vanphu">
    <ul class="timeline">
        <li link="section1" class="active"></li>
        <li link="section2"></li>
        <li link="section3"></li>
        <li link="section4"></li>
        <li link="section5"></li>
    </ul>

    <header>
        <ul>
            <li>
                <a href="#">NHỊP SỐNG SÔI ĐỘNG</a>
            </li>
            <li>
                <a href="#">HÀNH TRANG GIÁO DỤC</a>
            </li>
            <li>
                <a href="#">
                    <img src="./assets/images/logo.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">TIỀM NĂNG PHÁT TRIỂN</a>
            </li>
            <li>
                <a href="#">ĐĂNG KÝ THAM QUAN</a>
            </li>
        </ul>
    </header>
    <div class="contain">
        <div class="section section1">
            <div class="images">
                <img src="./assets/images/section1.png" alt="">
            </div>
            <div class="content">
                <div class="title">
                    ra mắt 100 căn shophouse
                </div>
                <div class="sub-title">
                    tâm điểm thịnh vượng của khu đô thị </br>
                    đáng sống bật nhất sài gòn
                </div>
                <div class="list-des">
                    <div class="left">
                        <div class="detail">
                            <div><img src="./assets/images/dots1.png" alt=""></div>
                            <div>Bao gồm 100 căn shophouse tại phố thương mại tập trung ngay cửa ngõ, 
                                nằm giữ 2 trục đường chính của khu đô thị.</div>
                        </div>
                        <div class="detail">
                            <div><img src="./assets/images/dots1.png" alt=""></div>
                            <div>Phân khu được thiết kế, quy hoạch rộng rãi 4-5 tầng tối ưu hoá công năng vừa ở vừa kinh doanh.
                                </div>
                        </div>
                        <div class="detail">
                            <div><img src="./assets/images/dots1.png" alt=""></div>
                            <div>Thiết kế bán cổ điển, nổi bật nhất dự án.</div>  
                        </div>
                    </div>
                    <div class="right">
                        <div class="detail">
                            <div><img src="./assets/images/dots1.png" alt=""></div>
                            <div>Kết nối nhanh với hàng loạt tiện ích nổi bật của khu đô thị: 
                                    Công viên giải trí tầm cỡ quốc tế Ocean Word Hồ Chí Minh, hệ thống trường EMASI, 
                                    trường mầm non Ngô Thời Nhiệm, bệnh viện Quốc tế…</div>                    
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    
                </div>
            </div>
        </div>
        <div class="section section2">
            <div class="images">
                <img src="./assets/images/section1.png" alt="">
            </div>
            <div class="content">
                <div class="title">
                    ra mắt 100 căn shophouse
                </div>
                <div class="sub-title">
                    tâm điểm thịnh vượng của khu đô thị </br>
                    đáng sống bật nhất sài gòn
                </div>
                <div class="list-des">
                    <div class="left">
                        <div class="detail">
                            <span><img src="./assets/images/dots1.png" alt=""></span>
                            <span>Bao gồm 100 căn shophouse tại phố thương mại tập trung ngay cửa ngõ, nằm giữ 2 trục đường chính của khu đô thị.</span>
                        </div>
                        <div class="detail">
                            <span><img src="./assets/images/dots1.png" alt=""></span>
                            <span>Phân khu được thiết kế, quy hoạch rộng rãi 4-5 tầng tối ưu hoá công năng vừa ở vừa kinh doanh.
                                </span>
                        </div>
                        <div class="detail">
                            <span><img src="./assets/images/dots1.png" alt=""></span>
                            <span>Thiết kế bán cổ điển, nổi bật nhất dự án.</span>  
                        </div>
                    </div>
                    <div class="right">
                        <div class="detail">
                            <span><img src="./assets/images/dots1.png" alt=""></span>
                            <span>Kết nối nhanh với hàng loạt tiện ích nổi bật của khu đô thị: 
                                    Công viên giải trí tầm cỡ quốc tế Ocean Word Hồ Chí Minh, hệ thống trường EMASI, 
                                    trường mầm non Ngô Thời Nhiệm, bệnh viện Quốc tế…</span>                    
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    
                </div>
            </div>
        </div>
        <div class="section section3">
            <div class="images">
                <img src="./assets/images/section1.png" alt="">
            </div>
            <div class="content">
                <div class="title">
                    ra mắt 100 căn shophouse
                </div>
                <div class="sub-title">
                    tâm điểm thịnh vượng của khu đô thị </br>
                    đáng sống bật nhất sài gòn
                </div>
                <div class="list-des">
                    <div class="left">
                        <div class="detail">
                            <span><img src="./assets/images/dots1.png" alt=""></span>
                            <span>Bao gồm 100 căn shophouse tại phố thương mại tập trung ngay cửa ngõ, nằm giữ 2 trục đường chính của khu đô thị.</span>
                        </div>
                        <div class="detail">
                            <span><img src="./assets/images/dots1.png" alt=""></span>
                            <span>Phân khu được thiết kế, quy hoạch rộng rãi 4-5 tầng tối ưu hoá công năng vừa ở vừa kinh doanh.
                                </span>
                        </div>
                        <div class="detail">
                            <span><img src="./assets/images/dots1.png" alt=""></span>
                            <span>Thiết kế bán cổ điển, nổi bật nhất dự án.</span>  
                        </div>
                    </div>
                    <div class="right">
                        <div class="detail">
                            <span><img src="./assets/images/dots1.png" alt=""></span>
                            <span>Kết nối nhanh với hàng loạt tiện ích nổi bật của khu đô thị: 
                                    Công viên giải trí tầm cỡ quốc tế Ocean Word Hồ Chí Minh, hệ thống trường EMASI, 
                                    trường mầm non Ngô Thời Nhiệm, bệnh viện Quốc tế…</span>                    
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    
                </div>
            </div>
        </div>
        <div class="section section4">
            <div class="images">
                <img src="./assets/images/section1.png" alt="">
            </div>
            <div class="content">
                <div class="title">
                    ra mắt 100 căn shophouse
                </div>
                <div class="sub-title">
                    tâm điểm thịnh vượng của khu đô thị </br>
                    đáng sống bật nhất sài gòn
                </div>
                <div class="list-des">
                    <div class="left">
                        <div class="detail">
                            <span><img src="./assets/images/dots1.png" alt=""></span>
                            <span>Bao gồm 100 căn shophouse tại phố thương mại tập trung ngay cửa ngõ, nằm giữ 2 trục đường chính của khu đô thị.</span>
                        </div>
                        <div class="detail">
                            <span><img src="./assets/images/dots1.png" alt=""></span>
                            <span>Phân khu được thiết kế, quy hoạch rộng rãi 4-5 tầng tối ưu hoá công năng vừa ở vừa kinh doanh.
                                </span>
                        </div>
                        <div class="detail">
                            <span><img src="./assets/images/dots1.png" alt=""></span>
                            <span>Thiết kế bán cổ điển, nổi bật nhất dự án.</span>  
                        </div>
                    </div>
                    <div class="right">
                        <div class="detail">
                            <span><img src="./assets/images/dots1.png" alt=""></span>
                            <span>Kết nối nhanh với hàng loạt tiện ích nổi bật của khu đô thị: 
                                    Công viên giải trí tầm cỡ quốc tế Ocean Word Hồ Chí Minh, hệ thống trường EMASI, 
                                    trường mầm non Ngô Thời Nhiệm, bệnh viện Quốc tế…</span>                    
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    
                </div>
            </div>
        </div>
        <div class="section section5">
            <div class="images">
                <img src="./assets/images/section1.png" alt="">
            </div>
            <div class="content">
                <div class="title">
                    ra mắt 100 căn shophouse
                </div>
                <div class="sub-title">
                    tâm điểm thịnh vượng của khu đô thị </br>
                    đáng sống bật nhất sài gòn
                </div>
                <div class="list-des">
                    <div class="left">
                        <div class="detail">
                            <span><img src="./assets/images/dots1.png" alt=""></span>
                            <span>Bao gồm 100 căn shophouse tại phố thương mại tập trung ngay cửa ngõ, nằm giữ 2 trục đường chính của khu đô thị.</span>
                        </div>
                        <div class="detail">
                            <span><img src="./assets/images/dots1.png" alt=""></span>
                            <span>Phân khu được thiết kế, quy hoạch rộng rãi 4-5 tầng tối ưu hoá công năng vừa ở vừa kinh doanh.
                                </span>
                        </div>
                        <div class="detail">
                            <span><img src="./assets/images/dots1.png" alt=""></span>
                            <span>Thiết kế bán cổ điển, nổi bật nhất dự án.</span>  
                        </div>
                    </div>
                    <div class="right">
                        <div class="detail">
                            <span><img src="./assets/images/dots1.png" alt=""></span>
                            <span>Kết nối nhanh với hàng loạt tiện ích nổi bật của khu đô thị: 
                                    Công viên giải trí tầm cỡ quốc tế Ocean Word Hồ Chí Minh, hệ thống trường EMASI, 
                                    trường mầm non Ngô Thời Nhiệm, bệnh viện Quốc tế…</span>                    
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="registration">
        <img src="./assets/images/registration.png" alt="">
    </div>
</div>