<div class="save-form-json">
  
    <div class="contain">
        <div class="section section5 artical4" id="5">
            <div class="images">
                <img src="./assets/images/section5.png" alt="">
            </div>
            <div class="content" data-aos="fade-up" data-aos-duration="1000">
                <div class="form">
                    <form action="" id="form" class="form-data">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-offset-4 col-md-6">
                                    <img id="result" style="max-width:150px">
                                    <input required name="photo" style="background:none;border:none" value="upload" type="file" id="input">
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalLabel">Crop the image</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="img-container">
                                            <img id="image" src="https://avatars0.githubusercontent.com/u/3456749">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-primary" id="crop">Crop</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <input placeholder="Họ & tên" type="text" name="name" class="form-control field-name">
                                </div>
                                <div class="col-md-6">
                                    <input placeholder="Số điện thoại" name="phone" type="number" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input placeholder="Email" name="email" type="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Mô tả nhu cầu" name="description" type="text" class="form-control"></textarea>
                        </div>
                        <div class="button">
                            <button class="submit-data">
                                Add data
                            </button>
                        </div>
                    </form>
                    <input type="hidden" class="data-hidden">
                    <img src="https://via.placeholder.com/150"  class="images-hidden" alt="">
                    <div class="images-test" style="color:#fff"></div>
                </div>
            </div>
        </div>

        <!-- <div class="footer">
            <div class="images">
                <img src="./assets/images/footer.png" alt="">
            </div>
            <div class="content">
                <div class=" col1">
                    <div class="image_logo">
                        <img src="./assets/images/logo.png" alt="">
                    </div>

                </div>
                <div class="center col2">
                    <div class="cpn-name">
                        KHU ĐÔ THỊ VẠN PHÚC
                    </div>
                    <div class="address">
                        Khu đô thị Vạn Phúc Quốc lộ 13, P. Hiệp Bình Phước, Q. Thủ Đức,TP.HCM
                    </div>
                    <div class="cskh">
                        <span>Tổng đài CSKH: </span>
                        <span class="color-green">1800 6363</span>
                    </div>
                </div>
                <div class="col3">
                    <div class="list-social">
                        <a>
                            <img src="./assets/images/social1.png" alt="">
                        </a>
                        <a>
                            <img src="./assets/images/social2.png" alt="">
                        </a>
                        <a>
                            <img src="./assets/images/social3.png" alt="">
                        </a>
                        </ul>
                        <div class="web-address">
                            <span>Website:</span>
                            <span class="color-green">https://khudothivanphuc.com.vn</span>
                        </div>
                    </div>


                </div>
            </div>
        </div> -->

    </div>
</div>

<div class="is_loading">
    <div class="contain">
        <div class="lds-facebook">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>

