<div class="save-form-json">
  
    <div class="contain">
        <div class="section section5 artical4" id="5">
            <div class="images">
                <img src="./assets/images/section5.png" alt="">
            </div>
            <div class="content" data-aos="fade-up" data-aos-duration="1000">
                <div class="form">
                    <form action="" id="form" class="form-data">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-offset-4 col-md-6">
                                    <img id="result" style="max-width:150px">
                                    <input name="photo" style="background:none;border:none" value="upload" type="file" id="input">
                                    <input required  type="text" id="result_example" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalLabel">Crop the image</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="img-container">
                                            <img id="image" src="https://avatars0.githubusercontent.com/u/3456749">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-primary" id="crop">
                                            <img style="max-width:20px; display: none;" class="loading" src="https://loading.io/spinners/hourglass/lg.sandglass-time-loading-gif.gif" alt="">
                                            <span>Crop</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <input placeholder="Họ & tên" type="text" name="name" class="form-control field-name">
                                </div>
                                <div class="col-md-6">
                                    <input placeholder="Số điện thoại" name="phone" type="number" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input placeholder="Email" name="email" type="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Mô tả nhu cầu" name="description" type="text" class="form-control"></textarea>
                        </div>
                        <div class="button">
                            <button class="submit-data">
                                Add data
                            </button>
                        </div>
                    </form>
                    <input type="hidden" class="data-hidden">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="is_loading">
    <div class="contain">
        <div class="lds-facebook">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>

