<div class="vanphu">
    <ul class="timeline">
        <li>
            <a href="#1"></a>
        </li>
        <li>
            <a href="#2"></a>
        </li>
        <li>
            <a href="#3"></a>
        </li>
        <li>
            <a href="#4"></a>
        </li>
        <li>
            <a href="#5"></a>
        </li>
    </ul>

    <div class="menu-mobile">
        <div class="logo-mobile">
            <img src="./assets/images/logo.png" alt="">
        </div>
        <button class="navbar-toggler">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
    </div>

    <header>
        <ul>
            <li>
                <a link="artical1" href="#">NHỊP SỐNG SÔI ĐỘNG</a>
            </li>
            <li>
                <a link="artical2" href="#">HÀNH TRANG GIÁO DỤC</a>
            </li>
            <li>
                <a href="#">
                    <img src="./assets/images/logo.png" alt="">
                </a>
            </li>
            <li>
                <a link="artical3" href="#">TIỀM NĂNG PHÁT TRIỂN</a>
            </li>
            <li>
                <a link="artical4" href="#">ĐĂNG KÝ THAM QUAN</a>
            </li>
        </ul>
    </header>

    <div class="contain">
        <div class="section section1" id="1">
            <div class="images">
                <img src="./assets/images/section1.jpg" alt="">
            </div>
            <div class="content" data-aos="fade-up" data-aos-duration="1000">
                <div class="title">
                    ra mắt 100 căn shophouse
                </div>
                <div class="sub-title">
                    tâm điểm thịnh vượng của khu đô thị </br>
                    đáng sống bật nhất sài gòn
                </div>
                <div class="list-des">
                    <div class="left">
                        <div class="detail">
                            <div><img src="./assets/images/dots1.png" alt=""></div>
                            <div class="text">Bao gồm 100 căn shophouse tại phố thương mại tập trung ngay cửa ngõ,
                                nằm giữ 2 trục đường chính của khu đô thị.</div>
                        </div>
                        <div class="detail">
                            <div><img src="./assets/images/dots1.png" alt=""></div>
                            <div class="text">Phân khu được thiết kế, quy hoạch rộng rãi 4-5 tầng tối ưu hoá công năng
                                vừa ở vừa
                                kinh doanh.
                            </div>
                        </div>
                        <div class="detail">
                            <div><img src="./assets/images/dots1.png" alt=""></div>
                            <div class="text">Thiết kế bán cổ điển, nổi bật nhất dự án.</div>
                        </div>
                    </div>
                    <div class="right hidden-xs hidden-sm">
                        <div class="detail">
                            <div><img src="./assets/images/dots1.png" alt=""></div>
                            <div class="text">Kết nối nhanh với hàng loạt tiện ích nổi bật của khu đô thị:
                                Công viên giải trí tầm cỡ quốc tế Ocean Word Hồ Chí Minh, hệ thống trường EMASI,
                                trường mầm non Ngô Thời Nhiệm, bệnh viện Quốc tế…</div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>
        </div>

        <div class="section section2 artical1" id="2">
            <div class="images">
                <img src="./assets/images/section2.png" alt="">
            </div>
            <div class="content" data-aos="fade-up" data-aos-duration="1000">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-7 col-sm-6 col-xs-12">
                            <div class="item-left">
                                <div class="slider-top slider-for">
                                    <img src="./assets/images/slider1/2.jpg" alt="">
                                    <img src="./assets/images/slider1/3.jpg" alt="">
                                    <img src="./assets/images/slider1/1.jpg" alt="">
                                    <img src="./assets/images/slider1/2.jpg" alt="">
                                </div>
                                <div class="slider-bottom slider-nav">
                                    <img src="./assets/images/slider1/1.jpg" alt="">
                                    <img src="./assets/images/slider1/2.jpg" alt="">
                                    <img src="./assets/images/slider1/3.jpg" alt="">
                                    <img src="./assets/images/slider1/1.jpg" alt="">
                                    <img src="./assets/images/slider1/2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12">
                            <div class="item-right">
                                <div class="title">
                                    <div class="sub-title">
                                        KHU BIỆT THỰ ĐÁNG SỐNG
                                    </div>
                                    <div class="main-title">
                                        NHỊP SỐNG SÔI ĐỘNG NHƯNG TÁCH BIỆT
                                    </div>
                                    <div class="icon">
                                        <img src="./assets/images/wave.png" alt="">
                                    </div>
                                </div>
                                <div class="description">
                                    <h3>Tâm điểm thịnh vượng, tận hưởng bình yên </h3>
                                    <p>Như một bản giao thoa giữa tuyến phố nhộn nhịp và không gian yên tĩnh tách biệt,
                                        100 căn shophouse được xem là phân khu đáng sống nhất, giúp cư dân cân bằng
                                        cuộc
                                        sống kinh doanh và gia đình.
                                    </p>
                                    <div class="list-des">
                                        <div class="detail">
                                            <div><img src="./assets/images/dots2.png" alt=""></div>
                                            <div class="text">Vị trí đắc địa kết nối 2 giao lộ mới của cửa ngõ
                                                Đông Bắc Sài Gòn, di chuyển nhanh đến các địa điểm trung tâm thành phố.</div>
                                        </div>
                                        <div class="detail">
                                            <div><img src="./assets/images/dots2.png" alt=""></div>
                                            <div class="text">Kết nối nhanh với các tiện ích nội khu: trường học, công
                                                viên…tiết kiệm thời gian, di chuyển.
                                            </div>
                                        </div>
                                        <div class="detail">
                                            <div><img src="./assets/images/dots2.png" alt=""></div>
                                            <div class="text">Tận hưởng trọn vẹn không gian sống trong lành, yên tĩnh
                                                với
                                                hàng loạt tiện ích sinh thái:
                                                hồ Đại Nhật rộng 16 ha, công viên ven sông dài nhất TP.HCM (3,4km)….phù
                                                hợp
                                                nhu cầu của mọi thành viên trong gia đình.</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="section section3 artical2" id="3" >
            <div class="pc">
                <div class="images">
                    <img class="i-item i1 active" src="./assets/images/section3.png" alt="">
                    <img class="i-item i2" src="./assets/images/section3/3.jpg" alt="">
                    <img class="i-item i3" src="./assets/images/section3/1.jpg" alt="">
                </div>
                <div class="content" data-aos="fade-up" data-aos-duration="1000">
                    <div class="item-left">
                        <ul class="list-images">
                            <li class="n-item active" images-data="i1">
                                <img src="./assets/images/section3/i1.png" alt="">
                            </li>
                            <li class="n-item" images-data="i2">
                                <img src="./assets/images/section3/i2.png" alt="">
                            </li>
                            <li class="n-item" images-data="i3">
                                <img src="./assets/images/section3/i3.png" alt="">
                            </li>
                        </ul>
                    </div>
                    <div class="item-right">
                        <div class="title">
                            <div class="sub-title">
                                KHU BIỆT THỰ ĐÁNG SỐNG
                            </div>
                            <div class="main-title">
                                Hành tranh giáo dục
                                toàn diện & hiện đại
                            </div>
                            <div class="icon">
                                <img src="./assets/images/wave.png" alt="">
                            </div>
                        </div>
                        <div class="description">
                            <h3>Tâm điểm giáo dục, an tâm phát triển.</h3>
                            <p>Trở thành cư dân của khu đô thị trẻ đáng sống bậc nhất,
                                bạn như tặng con một nền tảng giáo dục toàn diện, một không gian sống hoàn hảo
                                với thiên nhiên trong lành, xanh mát nhất.
                            </p>
                            <div class="list-des">
                                <div class="detail">
                                    <div><img src="./assets/images/dots2.png" alt=""></div>
                                    <div>Kết nối nhanh với 10 trường học liên cấp được giảng dạy
                                        theo tiêu chuẩn quốc tế với trang thiết bị hiện đại.</div>
                                </div>
                                <div class="detail">
                                    <div><img src="./assets/images/dots2.png" alt=""></div>
                                    <div>Trường EMASI với phương pháp giảng dạy tiêu chuẩn Mỹ, tiếng Anh Cambridge dự
                                        kiến
                                        tuyển sinh 9/2019.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="mobile" data-aos="fade-up" data-aos-duration="1000">
                <div class="images">
                    <img class="i-item i1 active" src="./assets/images/section3.png" alt="">
                    <img class="i-item i2" src="./assets/images/section3/3.jpg" alt="">
                    <img class="i-item i3" src="./assets/images/section3/1.jpg" alt="">
                </div>
                <div class="content">
                    <div class="item-left">
                        <ul class="list-images">
                            <li class="n-item active" images-data="i1">
                                <img src="./assets/images/section3/i1.png" alt="">
                            </li>
                            <li class="n-item" images-data="i2">
                                <img src="./assets/images/section3/i2.png" alt="">
                            </li>
                            <li class="n-item" images-data="i3">
                                <img src="./assets/images/section3/i3.png" alt="">
                            </li>
                        </ul>
                    </div>
                    <div class="item-right">
                        <div class="title">
                            <div class="sub-title">
                                KHU BIỆT THỰ ĐÁNG SỐNG
                            </div>
                            <div class="main-title">
                                Hành tranh giáo dục
                                toàn diện & hiện đại
                            </div>
                            <div class="icon">
                                <img src="./assets/images/wave.png" alt="">
                            </div>
                        </div>
                        <div class="description">
                            <h3>Tâm điểm giáo dục, an tâm phát triển.</h3>
                            <p>Trở thành cư dân của khu đô thị trẻ đáng sống bậc nhất,
                                bạn như tặng con một nền tảng giáo dục toàn diện, một không gian sống hoàn hảo
                                với thiên nhiên trong lành, xanh mát nhất.
                            </p>
                            <div class="list-des">
                                <div class="detail">
                                    <div><img src="./assets/images/dots2.png" alt=""></div>
                                    <div>Kết nối nhanh với 10 trường học liên cấp được giảng dạy
                                        theo tiêu chuẩn quốc tế với trang thiết bị hiện đại.</div>
                                </div>
                                <div class="detail">
                                    <div><img src="./assets/images/dots2.png" alt=""></div>
                                    <div>Trường EMASI với phương pháp giảng dạy tiêu chuẩn Mỹ, tiếng Anh Cambridge dự
                                        kiến
                                        tuyển sinh 9/2019.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>


        </div>

        <div class="section section4 artical3" id="4">
            <div class="images">
                <img src="./assets/images/section2.png" alt="">
            </div>
            <div class="content" data-aos="fade-up" data-aos-duration="1000">
                <div class="row">
                    <div class="col-md-7  col-sm-6 col-xs-12">
                        <div class="item-left">
                            <div class="slider-for-1">
                                <img src="./assets/images/slider2/1.jpg" alt="">
                                <img src="./assets/images/slider2/2.jpg" alt="">
                                <img src="./assets/images/slider2/3.jpg" alt="">
                                <img src="./assets/images/slider2/4.jpg" alt="">
                                <img src="./assets/images/slider2/1.jpg" alt="">

                            </div>
                            <div class=" slider-nav-1">
                                <div class="custom">
                                    <img src="./assets/images/slider2/1.jpg" alt="">
                                </div>
                                <div class="custom">
                                    <img src="./assets/images/slider2/2.jpg" alt="">
                                </div>
                                <div class="custom">
                                    <img src="./assets/images/slider2/3.jpg" alt="">
                                </div>
                                <div class="custom">
                                    <img src="./assets/images/slider2/4.jpg" alt="">
                                </div>
                                <div class="custom">
                                    <img src="./assets/images/slider2/1.jpg" alt="">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-5  col-sm-6 col-xs-12">
                        <div class="item-right">
                            <div class="title">
                                <div class="sub-title">
                                    KHU BIỆT THỰ ĐÁNG SỐNG
                                </div>
                                <div class="main-title">
                                    Tiềm năng phát triển mạnh mẽ
                                </div>
                                <div class="icon">
                                    <img src="./assets/images/wave.png" alt="">
                                </div>
                            </div>
                            <div class="description">
                                <h3>Tâm điểm đầu tư, tiềm năng phát triển</h3>
                                <p>Trong tương lai, khu đô thị Vạn Phúc sẽ trở thành trọng điểm kinh tế chiến lược:
                                </p>
                                <div class="list-des">
                                    <div class="detail">
                                        <div><img src="./assets/images/dots2.png" alt=""></div>
                                        <div class="text">Là một trong ba bán đảo đẹp nhất TP.HCM</div>
                                    </div>
                                    <div class="detail">
                                        <div><img src="./assets/images/dots2.png" alt=""></div>
                                        <div class="text">Tâm điểm liên kết vùng, giao thương thuận lợi về cả đường bộ,
                                            đường thuỷ, hàng không.
                                            Cư dân chỉ mất 5-10 phút tới Quận 1, 3, sân bay TSN và các vùng kinh tế
                                            trọng điểm lân cận.
                                        </div>
                                    </div>
                                    <div class="detail">
                                        <div><img src="./assets/images/dots2.png" alt=""></div>
                                        <div class="text">Tổ hợp khu dân cư, tài chính, thương mại, dịch vụ hạng sang
                                            đầu tiên và duy nhất trong khu vực.</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section5 artical4" id="5">
            <div class="images">
                <img src="./assets/images/section5.png" alt="">
            </div>
            <div class="content" data-aos="fade-up" data-aos-duration="1000">
                <div class="title">
                    Khu đô thị hiện đại đáng sống bậc nhất sài gòn <br> đang hiện hữu tại Vạn Phúc
                </div>
                <div class="sub-title">
                    Hãy trở thành cư dân tiếp theo để tận hưởng cuộc sống bao người mơ ước. <br>
                    Cơ hội sở hữu 100 căn shophouse được mong chờ nhất 2018 cho những chủ nhân nhanh tay <br> đăng ký
                    nhận thông tin & tư vấn
                </div>
                <div class="form">
                    <form action="">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <input placeholder="Họ & tên" type="text" class="form-control field-name">
                                </div>
                                <div class="col-md-6">
                                    <input placeholder="Số điện thoại" type="number" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input placeholder="Email" type="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Mô tả nhu cầu" type="text" class="form-control"></textarea>
                        </div>
                        <div class="button">
                            <button>
                                Đăng Ký Ngay
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="footer" data-aos="fade-up" data-aos-duration="1000">
            <div class="images">
                <img src="./assets/images/footer.png" alt="">
            </div>
            <div class="content">
                <div class=" col1">
                    <div class="image_logo">
                        <img src="./assets/images/logo.png" alt="">
                    </div>

                </div>
                <div class="center col2">
                    <div class="cpn-name">
                        KHU ĐÔ THỊ VẠN PHÚC
                    </div>
                    <div class="address">
                        Khu đô thị Vạn Phúc Quốc lộ 13, P. Hiệp Bình Phước, Q. Thủ Đức,TP.HCM
                    </div>
                    <div class="cskh">
                        <span>Tổng đài CSKH: </span>
                        <span class="color-green">1800 6363</span>
                    </div>
                </div>
                <div class="col3">
                    <div class="list-social">
                        <a>
                            <img src="./assets/images/social1.png" alt="">
                        </a>
                        <a>
                            <img src="./assets/images/social2.png" alt="">
                        </a>
                        <a>
                            <img src="./assets/images/social3.png" alt="">
                        </a>
                        </ul>
                        <div class="web-address">
                            <span>Website:</span>
                            <span class="color-green">https://khudothivanphuc.com.vn</span>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="registration">
            <div class="item">
                <div class="img click-item">
                    <img src="./assets/images/registration.png" alt="">
                </div>

                <div class="form">
                    <form action="">
                        <div class="form-group">
                            <input placeholder="Họ tên" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <input placeholder="Số điện thoại" type="number" class="form-control">
                        </div>
                        <div class="form-group">
                            <input placeholder="Lời nhắn" type="text" class="form-control">
                        </div>

                        <button class="submit" type="button" data-toggle="modal" data-target="#thanks">Đăng Ký Ngay</button>
                        <!-- <input class="submit" type="button" value="Đăng Ký Ngay" data-toggle="modal" data-target="#thanks"> -->

                    </form>
                </div>
            </div>


        </div>

        <div class="phone">
            <a href="#"><img src="./assets/images/phone.png" alt=""></a>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="thanks" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="close-icon" mo>
                    <img src="./assets/images/close.png" alt="">
                </div>
                <div class="modal-body">
                    <div class="title">
                        CẢM ƠN QUÝ KHÁCH
                    </div>
                    <div class="text">
                        Cảm ơn quí khách đã đăng kí để lại thông tin.
                        <br>
                        Chúng tôi sẽ liên hệ trong thời gian sớm nhất
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- <div class='text-input__loading'>
    <div class="contain">
        <div class='text-input__loading--line'></div>
        <div class='text-input__loading--line'></div>
        <div class='text-input__loading--line'></div>
        <div class='text-input__loading--line'></div>
        <div class='text-input__loading--line'></div>
        <div class='text-input__loading--line'></div>
        <div class='text-input__loading--line'></div>
        <div class='text-input__loading--line'></div>
        <div class='text-input__loading--line'></div>
        <div class='text-input__loading--line'></div>
    </div>
</div> -->

<div class="is_loading">
    <div class="contain">
        <div class="lds-facebook">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>

