<div class="main-footer">
    <table>
        <tr>
            <td>
                <div class="item active">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span>Trang chủ</span>
                </div>
            </td>
            <td>
                <div class="item">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span>Giao dịch</span>
                </div>
            </td>
            <td>
                <div class="item">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span>Cá nhân</span>
                </div>
            </td>
            <td>
                <div class="item">
                    <i class="fa fa-gift" aria-hidden="true"></i>
                    <span>Quà tặng</span>
                </div>
            </td>
        </tr>
    </table>
</div>