<div class="main-header">
    <div class="search_noti">
        <div class="search__bar">
            <input class="form-control" type="text" placeholder="Tìm kiếm...">
        </div>
        <div class="notification">
            <i class="fa fa-bell-o" aria-hidden="true"></i>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="list-action">
        <table>
            <tr>
                
                <td>
                    <div class="item">
                        <i class="fa fa-qrcode" aria-hidden="true"></i>
                        <span>THANH TOÁN</span>
                    </div>
                </td>
                <td>
                    <div class="item">
                        <i class="fa fa-usd" aria-hidden="true"></i>
                        <span>100</span>
                    </div>
                </td>
                <td>
                    <div class="item">
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                        <span>NGÂN HÀNG</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>