<div class="home">
    <div class="list-product">
        <div class="flex-container">
            <div class="product">
                <i class="fa fa-money" aria-hidden="true"></i>
                <span>Rút Tiền</span>
            </div>
            <div class="product">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                <span>Chuyển Tiền</span>
            </div>
            <div class="product">
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
                <span>Thu Hộ</span>
            </div>
            <div class="product">
                <i class="fa fa-cog" aria-hidden="true"></i>
                <span>Config</span>
            </div>
            <div class="product">
                <i class="fa fa-cog" aria-hidden="true"></i>
                <span>Config</span>
            </div>
            <div class="product">
                <i class="fa fa-cog" aria-hidden="true"></i>
                <span>Config</span>
            </div>
            <div class="product">
                <i class="fa fa-cog" aria-hidden="true"></i>
                <span>Config</span>
            </div>
            <div class="product">
                <i class="fa fa-cog" aria-hidden="true"></i>
                <span>Config</span>
            </div>
           
            <div class="product">
                <i class="fa fa-cog" aria-hidden="true"></i>
                <span>Config</span>
            </div>
            <div class="product">
                <i class="fa fa-cog" aria-hidden="true"></i>
                <span>Config</span>
            </div>
            <div class="product">
                <i class="fa fa-cog" aria-hidden="true"></i>
                <span>Config</span>
            </div>
            <div class="product">
                <i class="fa fa-cog" aria-hidden="true"></i>
                <span>Config</span>
            </div>
        </div>
    </div>
</div>