<div class="login">
    <div class="login__logo">
        {# <img src="./images/logo.png" alt=""> #}
         <i class="fa fa-gg-circle" aria-hidden="true"></i>
    </div>
    <div class="login__form">
        <div class="form-group">
            <label class="title" for="">Member Number</label>
            <input type="text" class="form-control" >
        </div>
        <div class="form-group">
            <label class="title" for="">Password</label>
            <input type="text" class="form-control" >
        </div>
        <div class="btn-submit">
            <button class="btn btn-login">Login</button>
        </div>
        

        <a class="forgotPwd" href="#">Can't remember your password ?</a>  
    </div>
</div>