<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <base href="./">
    
    <title>{% if page_title is defined %} {{ page_title }} | {% endif %}</title>

    
</head>
<body class="body-wrapper">
    <div class="wrapper">
            {% block content %}{% endblock %}
    </div>

{% block scripts %}
{% endblock %}
</body>
</html>