<div class="normanly">


   
    <div class="menu-mobile">
        <div class="logo-mobile">
            <img src="./assets/images/logo.png" alt="">
        </div>
        <button class="navbar-toggler">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
    </div>

    <header>
        <a href="#" class="logo">
            <img src="./assets/images/logo.png" alt="">
        </a>
        <ul class="menu">
            <li>
                <a link="artical1" href="#">TRANG CHỦ</a>
            </li>
            <li>
                <a link="artical2" href="#">TRIỂN LÃM</a>
            </li>
            <li>
                <a link="artical3" href="#">ĐỘI NGŨ PHÁT TRIỂN</a>
            </li>
            <li>
                <a link="artical4" href="#">TỔNG QUAN</a>
            </li>
            <li>
                <a link="artical5" href="#">VỊ TRÍ</a>
            </li>
            <li>
                <a link="artical6" href="#">TIỆN ÍCH</a>
            </li>
            <li>
                <a link="artical7" href="#">LIÊN HỆ</a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </header>
    
    

    <ul id="info-scroll" class="lsn clearfix">
			<li class="clearfix">
			<a id="tel_cta" href="tel:+84903696977" class="clearfix" onclick="ga('send', 'event', { eventCategory: 'Link', eventAction: 'click', eventLabel: 'Click Hotline'});">
                <span class="text font-light">HOTLINE <b class="font-black">082 227 6616</b></span>
                <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
            </a>
		</li>
	</ul>

    <div class="contain">
        <div class="section section1 artical1" id="1">
            <div class="slider-section-1">
                <div class="item">
                    <img src="./assets/images/banner/1.png" alt="">
                </div>
                <div class="item">
                    <img src="./assets/images/banner/2.png" alt="">
                </div>
            </div>
           
            <div class="registration">
                <div class="title">
                    <span class="font-light">
                        ĐĂNG KÝ TAI ĐÂY ĐỂ NHẬN
                    </span> 
                    <br>
                    <b class="font-black">TƯ VẤN VÀ ĐẶT CHỖ</b>
                </div>
                <div class="form">
                    <form action="">
                        <div class="form-group">
                            <input placeholder="Họ và Tên(*)" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <input placeholder="Email(*)" type="number" class="form-control">
                        </div>
                        <div class="form-group">
                            <input placeholder="Số điện thoại(*)" type="number" class="form-control">
                        </div>
                        <div class="form-group">
                            <input placeholder="Lời nhắn" type="text" class="form-control">
                        </div>
                        <div class="clearfix"></div>
                        <button class="submit font-black" type="button">Đăng Ký</button>
                    </form>
                </div>
                <div class="list">
                   <ul>
                        <li>
                            <a href="#">sở hữu nhà normanby chỉ với 10% cọc trước</a>
                        </li>
                        <li>
                            <a href="#">Triển lãm chuyên sâu về đầu tư BĐS Úc và cơ hội di trú</a>
                        </li>
                        <li>
                            <a href="#">Tham vấn trực tiếp tại triển lãm với các luật sư</a>
                        </li>
                        <li>
                            <a href="#">Mỗi khung giờ triển lãm đều giới hạn từ 5-7 người tham dự</a>
                        </li>
                        <li>
                            <a href="#">ĐĂNG KÍ NGAY ĐỂ CHỌN KHUNG GIỜ VÀ GIỮ CHỖ</a>
                        </li>
                   </ul>
                </div>
            </div>
        </div>

        <div class="section section2 artical2" id="2">
            <div class="column_left">
                <div class="images">
                    <img src="./assets/images/sec1.png" alt="">
                </div>
                <button class="btn-sec1 font-black">
                    NHẤN ĐỂ ĐĂNG KÍ NGAY
                </button>
            </div>
            <div class="column_right">
                <div class="title">
                    <img src="./assets/images/title/trienlam.png" alt="">
                </div>
                <div class="content">
                    <ul>
                        <li>
                            Cơ hội để được tư vấn đầy đủ về đầu tư, di trú, định cư với sự tham dự của luật sư và chuyên gia hàng đầu trong lĩnh vực
                        </li>
                        <li>
                            <label class="font-medium"> Thời gian và địa điểm:</label>
                            <div class="address">
                                <span class="font-medium">-Tại Tp.HCM:</span>
                                <span class="color-green-light font-medium">Văn phòng Công ty Thuận Phát invesment & Consultant</span>
                                <p>17 Mạc Đỉnh Chi, P.Đa Kao, Q1</p>
                                <p>Ngày 5 & 8/04, từ 10h - 17h</p>
                            </div>
                            <div class="address">
                                <span class="font-medium">-Tại Đà Nẵng:</span>
                                <span class="color-green-light font-medium">Khách sạn Novotel Đà Nẵng</span>
                                <p>36 Bạch Đằng, Thạch Thàng, Hải Châu, Đà Nẵng</p>
                                <p>Ngày 6/04, từ 13h - 17h</p>
                                <p>Ngày 7/04, từ 11h - 16h</p>
                            </div>
                        </li>
                        <li class="font-medium">
                            Triển lãm diễn ra có hạn, cần đăng kí để được sắp xếp khung giờ tham dự (Miễn phí)
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="column_left column_left--mobile">
                <div class="images">
                    <img src="./assets/images/sec1.png" alt="">
                </div>
                <button class="btn-sec1 font-black">
                    NHẤN ĐỂ ĐĂNG KÍ NGAY!
                </button>
            </div>
            
        </div>
        
        <div class="section section3 artical3" id="3" >
            <div class="title">
                <img src="./assets/images/title/phattrien.png" alt="">
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="column column_left">
                            <div class="icon">
                                <img src="./assets/images/icon1.png" alt="">
                            </div>
                            <div class="sub-title font-medium">
                                đơn vị phát triển dự án
                            </div>
                            <div class="des font-medium">
                                Capital Alliance nổi danh trên thị trường bất động sản Úc
                                nhờ những sản phẩm ưu việt xứng tầm. Tận dụng lợi thế vị trí 
                                đắc địa, các dự án mà Capital Alliance dựng nên 
                                không những cung cấp những nơi ở tuyệt vời, mà còn góp phần 
                                thay đổi cảnh quan thành phố nhờ sự khác biệt và sáng tạo. 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="column column_right">
                            <div class="icon">
                            <img src="./assets/images/icon2.png" alt="">
                        </div>
                        <div class="sub-title font-medium">
                            đơn vị thiết kế dự án
                        </div>
                        <div class="des font-medium">
                            Capital Alliance nổi danh trên thị trường bất động sản Úc
                            nhờ những sản phẩm ưu việt xứng tầm. Tận dụng lợi thế vị trí 
                            đắc địa, các dự án mà Capital Alliance dựng nên 
                            không những cung cấp những nơi ở tuyệt vời, mà còn góp phần 
                            thay đổi cảnh quan thành phố nhờ sự khác biệt và sáng tạo. 
                        </div>
                        </div>
                        
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="section section4 artical4" id="4">
            <div class="title">
                <img src="./assets/images/title/tongquan.png" alt="">
            </div>
            <div class="column_left">
                <div class="content">
                    <ul>
                        <li class="font-medium">
                            Nhà mới 100% tại 199 Normanby Road, SOUTHBANK
                        </li>
                        <li class="font-medium">
                            Vị trí: 199 Normanby Road, SOUTHBANK
                        </li>
                        <li class="font-medium">
                            Số căn hộ: 111 căn, cao ốc 39 tầng, từ 1-3 phòng ngủ/căn
                        </li>
                        <li class="font-medium">
                            Pháp ly: người nước ngoài được mua & sở hữu vĩnh viễn như cư dân Úc, 
                            miễn phí FIRB (FIRB - giấy phép đầu tư BĐS cho người nước ngoài)
                        </li>
                        <li class="font-medium">
                            Agen độc quyền hỗ trợ tại Việt Nam: Thuận Phát Invesment & Consultant 
                        </li>
                    </ul>
                    <div class="font-medium">
                        Là khu vực đang được thu hút phát triển,Fishermans Bend sẽ sớm 
                        trở thành "đô thị thu thỏ" khi tập trung đủ mọi yếu tố: Cư dân nhộn nhịp, 
                        gần nhiều trường học, nhiều cơ hội việc làm với lối sống hiện đại. Trong tương lai, 
                        Fishermans Bend sẽ quy tụ: 
                    </div>
                    <div style="text-align:center; margin-top:10px">
                        <span>
                            <b class="font-black color-green-light">80000</b><span class="color-green-light font-medium">cư dân</span>
                        </span>
                        <span>
                            <b class="font-black color-green-light">60000</b><span class="color-green-light font-medium">cơ hội việc làm</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="column_right">
                <div class="images">
                    <img src="./assets/images/video.png" alt="">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="section section5 artical5" id="5">
            <div class="column_left">
                <div class="title">
                    <img src="./assets/images/title/vitri.png" alt="">
                </div>
                <div class="content">
                    <div class="font-medium">
                        Là khu vực đang được thu hút phát triển,Fishermans Bend sẽ sớm 
                        trở thành "đô thị thu thỏ" khi tập trung đủ mọi yếu tố: Cư dân nhộn nhịp, 
                        gần nhiều trường học, nhiều cơ hội việc làm với lối sống hiện đại. Trong tương lai, 
                        Fishermans Bend sẽ quy tụ: 
                    </div>
                    <ul>
                        <li class="font-medium">
                            Nhà mới 100% tại 199 Normanby Road, SOUTHBANK
                        </li>
                        <li class="font-medium">
                            Vị trí: 199 Normanby Road, SOUTHBANK
                        </li>
                        <li class="font-medium">
                            Số căn hộ: 111 căn, cao ốc 39 tầng, từ 1-3 phòng ngủ/căn
                        </li>
                        <li class="font-medium">
                            Pháp ly: người nước ngoài được mua & sở hữu vĩnh viễn như cư dân Úc, 
                            miễn phí FIRB (FIRB - giấy phép đầu tư BĐS cho người nước ngoài)
                        </li>
                        <li class="font-medium">
                            Agen độc quyền hỗ trợ tại Việt Nam: Thuận Phát Invesment & Consultant 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column_right">
                <div class="images slider-section-5">
                    <img src="./assets/images/sec5.png" alt="">
                    <img src="./assets/images/sec5.png" alt="">
                    <img src="./assets/images/sec5.png" alt="">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="section section6 artical6" id="6">
            <div class="column_left">
                <div class="title">
                    <img src="./assets/images/title/noibat.png" alt="">
                </div>
                <div class="des font-medium">
                    Là khu vực đang được thu hút phát triển,Fishermans Bend sẽ sớm 
                    trở thành "đô thị thu thỏ" khi tập trung đủ mọi yếu tố: Cư dân nhộn nhịp, 
                    gần nhiều trường học, nhiều cơ hội việc làm với lối sống hiện đại. Trong tương lai, 
                    Fishermans Bend sẽ quy tụ
                </div>
                <div class="content">
                    <div class="font-black color-green-light">NHỮNG TIỆN ÍCH TẠI NORMANBY:</div>
                    <ul class="first">
                        <li class="font-medium">
                            Hồ bơi vô cực trên không
                        </li>
                        <li class="font-medium">
                            Tổng hợp khách sạn quốc tế
                        </li>
                        <li class="font-medium">
                            View toàn thành phố từ chính căn hộ
                        </li>
                        <li class="font-medium">
                           Nội thất đầy đủ chất lượng Châu Âu
                        </li>
                        <li class="font-medium">
                            Siêu thị WoolWorths
                        </li>
                    </ul>
                    <ul class="second">
                        <li class="font-medium">
                            Bờ biển Melbourne cực gần
                        </li>
                        <li class="font-medium">
                            Cửa hàng, quán ăn, khu nghệ thuật lân cận
                        </li>
                        <li class="font-medium">
                            Tập đoàn khách sạn quốc tế AC Hotel được quản lý bởi Marriot
                        </li>
                        <li class="font-medium">
                           Phương tiện công cộng đi lại dễ dàng: xe điện, tàu hỏa...
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="column_right">
                <div class="slider-for">
                    <img src="./assets/images/slide6-1.jpg" alt="">
                    <img src="./assets/images/slide6-2.jpg" alt="">
                    <img src="./assets/images/slide6-3.jpg" alt="">
                    <img src="./assets/images/slide6-4.jpg" alt="">
                </div>

                <div class="slider-nav">
                    <img src="./assets/images/slide6-1.jpg" alt="">
                    <img src="./assets/images/slide6-2.jpg" alt="">
                    <img src="./assets/images/slide6-3.jpg" alt="">
                    <img src="./assets/images/slide6-4.jpg" alt="">
                </div>
            </div>
            <div class="clearfix"></div>

            
        </div>

        <div class="section section7 artical7" id="7">
            
            <div class="column_left">
                <div class="title">
                    <span class="font-light" style="color:#fff"> ĐĂNG KÝ TAI ĐÂY ĐỂ NHẬN</span>
                    <br>
                    <b class="font-black color-green-light">TƯ VẤN VÀ BÁO GIÁ TỐT NHẤT</b>
                </div>
                <div class="form">
                    <form action="">
                        <div class="form-group">
                            <input placeholder="Họ và Tên(*)" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <input placeholder="Email(*)" type="number" class="form-control">
                        </div>
                        <div class="form-group">
                            <input placeholder="Số điện thoại(*)" type="number" class="form-control">
                        </div>
                        <div class="form-group">
                            <input placeholder="Lời nhắn" type="text" class="form-control">
                        </div>
                        <div class="clearfix"></div>
                        <button class="submit font-black" type="button">Đăng Ký</button>
                    </form>
                </div>
            </div>
            <div class="column_right">
                <div class="content">
                    <div class="title font-black color-green-light">
                        LIÊN HỆ NHẬN TƯ VẤN NGAY
                    </div>
                    <ul class="list">
                        <li class="font-medium">
                            Nhà mới 100% tại 199 Normanby Road, SOUTHBANK
                        </li>
                        <li class="font-medium">
                            Vị trí: 199 Normanby Road, SOUTHBANK
                        </li>
                        <li class="font-medium">
                            Số căn hộ: 111 căn, cao ốc 39 tầng, từ 1-3 phòng ngủ/căn
                        </li>
                        <li class="font-medium">
                            Pháp ly: người nước ngoài được mua & sở hữu vĩnh viễn như cư dân Úc, 
                            miễn phí FIRB (FIRB - giấy phép đầu tư BĐS cho người nước ngoài)
                        </li>
                        <li class="font-medium">
                            Agen độc quyền hỗ trợ tại Việt Nam: Thuận Phát Invesment & Consultant 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
            
        </div>
        
    </div>

    <!-- Modal -->
    {# <div class="modal fade" id="thanks" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="close-icon" mo>
                    <img src="./assets/images/close.png" alt="">
                </div>
                <div class="modal-body">
                    <div class="title">
                        CẢM ƠN QUÝ KHÁCH
                    </div>
                    <div class="text">
                        Cảm ơn quí khách đã đăng kí để lại thông tin.
                        <br>
                        Chúng tôi sẽ liên hệ trong thời gian sớm nhất
                    </div>
                </div>

            </div>
        </div>
    </div> #}
</div>


<div class="is_loading">
    Loading...
</div>

