<div class="normanly">
   
    <div class="menu-mobile">
        <div class="logo-mobile">
            <img src="./assets/images/logo.png" alt="">
        </div>
        <button class="navbar-toggler">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
    </div>

    <header>
        <a href="#" class="logo">
            <img src="./assets/images/logo.png" alt="">
        </a>
        <ul class="menu">
            <li>
                <a link="artical1" href="#">TRANG CHỦ</a>
            </li>
            <li>
                <a link="artical2" href="#">TRIỂN LÃM</a>
            </li>
            <li>
                <a link="artical3" href="#">ĐỘI NGŨ PHÁT TRIỂN</a>
            </li>
            <li>
                <a link="artical4" href="#">TỔNG QUAN</a>
            </li>
            <li>
                <a link="artical5" href="#">VỊ TRÍ</a>
            </li>
            <li>
                <a link="artical6" href="#">TIỆN ÍCH</a>
            </li>
            <li>
                <a link="artical7" href="#">LIÊN HỆ</a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </header>
    

    <div class="contain">
        <div class="section section1 artical1" id="1">
            <div class="slider-section-1">
                <div class="item">
                    <img src="./assets/images/banner/1.png" alt="">
                </div>
                <div class="item">
                    <img src="./assets/images/banner/2.png" alt="">
                </div>
            </div>
           
            <div class="registration">
                <div class="title">
                    ĐĂNG KÝ TAI ĐÂY ĐỂ NHẬN <br>
                    <b>TƯ VẤN VÀ ĐẶT CHỖ</b>
                </div>
                <div class="form">
                    <form action="">
                        <div class="form-group">
                            <input placeholder="Họ và Tên(*)" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <input placeholder="Email(*)" type="number" class="form-control">
                        </div>
                        <div class="form-group">
                            <input placeholder="Số điện thoại(*)" type="number" class="form-control">
                        </div>
                        <div class="form-group">
                            <input placeholder="Lời nhắn" type="text" class="form-control">
                        </div>

                        <button class="submit" type="button">Đăng Ký</button>
                    </form>
                </div>
                <div class="list">
                   <ul>
                        <li>
                            <a href="#">sở hữu nhà normanby chỉ với 10% cọc trước</a>
                        </li>
                        <li>
                            <a href="#">Triển lãm chuyên sâu về đầu tư BĐS Úc và cơ hội di trú</a>
                        </li>
                        <li>
                            <a href="#">Tham vấn trực tiếp tại triển lãm với các luật sư</a>
                        </li>
                        <li>
                            <a href="#">Mỗi khung giờ triển lãm đều giới hạn từ 5-7 người tham dự</a>
                        </li>
                        <li>
                            <a href="#">ĐĂNG KÍ NGAY ĐỂ CHỌN KHUNG GIỜ VÀ GIỮ CHỖ</a>
                        </li>
                   </ul>
                </div>
            </div>
        </div>

        <div class="section section2 artical2" id="2">
            <div>section 2</div>
        </div>

        <div class="section section3 artical3" id="3" >
            <div>section 3</div>
        </div>

        <div class="section section4 artical4" id="4">
            <div>section 4</div>
        </div>

        <div class="section section5 artical5" id="5">
            <div>section 5</div>
        </div>

        <div class="section section6 artical6" id="6">
            <div>section 6</div>
        </div>

        <div class="section section7 artical7" id="7">
            <div>section 7</div>
        </div>

        <div class="footer">
            
        </div>

        
    </div>

    <!-- Modal -->
    {# <div class="modal fade" id="thanks" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="close-icon" mo>
                    <img src="./assets/images/close.png" alt="">
                </div>
                <div class="modal-body">
                    <div class="title">
                        CẢM ƠN QUÝ KHÁCH
                    </div>
                    <div class="text">
                        Cảm ơn quí khách đã đăng kí để lại thông tin.
                        <br>
                        Chúng tôi sẽ liên hệ trong thời gian sớm nhất
                    </div>
                </div>

            </div>
        </div>
    </div> #}
</div>


{# <div class="is_loading">
    Loading...
</div> #}

