
// SFUBelleRegular
// @font-face {
//     font-family: 'SFUBelleRegular';
//     src:url('../assets/fonts/SFUBelleRegular.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }
   

@font-face {
    font-family: 'iCielGotham-Medium';
    src: url('../assets/fonts/main/iCielGotham-Medium.eot?#iefix') format('embedded-opentype'),  
        url('../assets/fonts/main/iCielGotham-Medium.otf')  format('opentype'),
        url('../assets/fonts/main/iCielGotham-Medium.woff') format('woff'), 
        url('../assets/fonts/main/iCielGotham-Medium.ttf')  format('truetype'), 
        url('../assets/fonts/main/iCielGotham-Medium.svg#iCielGotham-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'iCielGotham-Light';
    src: url('../assets/fonts/main/iCielGotham-Light.eot?#iefix') format('embedded-opentype'),  
    url('../assets/fonts/main/iCielGotham-Light.otf')  format('opentype'),
           url('../assets/fonts/main/iCielGotham-Light.woff') format('woff'), 
           url('../assets/fonts/main/iCielGotham-Light.ttf')  format('truetype'), 
           url('../assets/fonts/main/iCielGotham-Light.svg#iCielGotham-Light') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  

  @font-face {
    font-family: 'iCielGotham-Black';
    src: url('../assets/fonts/main/iCielGotham-Black.eot?#iefix') format('embedded-opentype'),  
    url('../assets/fonts/main/iCielGotham-Black.otf')  format('opentype'),
           url('../assets/fonts/main/iCielGotham-Black.woff') format('woff'), 
           url('../assets/fonts/main/iCielGotham-Black.ttf')  format('truetype'), 
           url('../assets/fonts/main/iCielGotham-Black.svg#iCielGotham-Black') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  